<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Results!!!</h1>
    <p>
      The word was found @Model times!
    </p>
    <br>
    <a href="/">Do another Search</a>
  </body>
</html>
